{# app/Resources/views/frontend.html.twig#}
{% extends '::base.html.twig' %}

    {% block stylesheets %}
    
    <link href="{{ asset('bundles/frontend/css/frontend.css') }}" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    {% endblock %}
    {% block javascripts %}
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>    
    {% endblock %}

    {% block body %}

            <header class="navbar navbar-default" role="navigation">
               <div class="navbar navbar-inverse navbar-fixed-top" role="navigation ">
      <div class=" container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{path('portada')}}">Instant Movie</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            {% if app.user is not empty  %} 
                <li><a href="{{ path('pagina_peliculas') }}">Ver Peliculas</a></li>
                <li><a href="#">Catalogo</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Hola! Bienvenido {{ app.user.nickname }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('usuario_perfil')}}">Tu Perfil</a></li>
                        <li><a href="{{ path('pagina_historial',{'user_id': app.user.id }) }}">Historial</a></li>
                        <li><a href="#">Comentarios y Puntuaciones</a></li>
                        <li><a href="{{ path('usuario_logout') }}">Desconectar</a></li>
                    </ul>
            </li>

                <li><a href="{{path('pagina_upload')}}">Subir Pelicula</a></li>
            {% endif %}
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

            </header>

            <article>
                {% block contenido %}{% endblock %}
            </article>
<script src="{{ asset('bundles/frontend/js/frontend.js') }}"/>
{% endblock %}

