{# src/InstantMovie/BackendBundle/Resources/views/Default/catalogo.html.twig #}
{% extends '::frontend.html.twig' %}

{% block title%} Catalogo {% endblock %}
{% block id 'catalogo' %}

    {% block contenido %}
<script type="text/javascript">
    function mostrarInfoMovieClick(movieId)
    {
        $.post("{{path('mnormal_ajax')}}",
        {
            movie_id:movieId,
        }).done(function(data){
            window.location="{{path('pagina_mnormal')}}";
        });
    }
 
</script>

       
            {% for movie in movies %}
             <div id ="viewMovie1" class="panel panel-info " onclick="mostrarInfoMovieClick('{{movie.id}}')">
                <div id="panel-heading" class="panel-heading">
                        <h4>{{movie.title}}</h4>
                </div>
                <div id="panel-bodyC" class="panel-body">
                    <img class="img" src="{{movie.image}}" width="130%" height="100%">
                </div>
            </div>
            {% endfor %}

            {% endblock %}
