{% extends '::frontend.html.twig' %}
{% block id 'comentarios' %}
{% block title %}Lee y Comenta tus opiniones{% endblock %}

{% block contenido %}


<script type="text/javascript">
var isReady;

function mostrarComentario(movieId,userId){
    
    var comment = document.getElementById('comment').value;
    aleatorio = Math.random()*99999;
    if(comment != "")
    {
        $.post("{{path('push_in_queue')}}",
        {
            token:aleatorio,
            movie_id:movieId,
            user_id:userId,
            comment: comment,
            
        }).done(function(data){
            $('#loadingDiv').fadeIn('fast');

             $.post('{{path("pull_in_queue")}}',
            {
                token:aleatorio,

            }).done(function(data){
             
                var i = 0;
                while(!isReady)
                {   
                   
                    
                    console.log('sleep');
                    sleep(1000);
                    console.log('sleep finish');
                    console.log('Asking...'+ aleatorio);
                    console.log('IsReady ?');
                    isReady = data;
                    console.log('response isready:'+ isReady);
                }

                $('#loadingDiv').fadeOut('fast');
                $('#sobraComentario').before('<div id="sobraComentario"><div id="comentario" class ="panel"><p id="load" >'+comment+'</p></div></div>');

                },'json');
                });
             console.log('the proces is finished');
    }
   
    }

function sleep(milliSeconds){
    var startTime = new Date().getTime(); 
    while (new Date().getTime() < startTime + milliSeconds); 
}

</script>
    <div id="loadingDiv"><img id="loading" src="{{ asset('bundles/frontend/images/loading.gif') }}" width="30%" height="30%" ></div>

<div id="loadingDiv"><img id="loading" alt="" width="70%" height="80%" src="{{ asset('bundles/frontend/images/loading.gif') }}"></div>
    <ul class="nav nav-tabs nav-perfil">
        <li><a  id="hrefComment" href="{{ path('pagina_mnormal') }}">Informacion de la Pelicula</a></li>
    </ul>

    <div id="textarea">
     <textarea class="form-control" rows="5" placeholder="Campo de texto" name="comment" id="comment"></textarea>
     <button type="button" class="boton btn btn-lg" id="botonScore" onClick="mostrarComentario({{movie_id}},{{app.user.id}});">Comentar</button>
    </div>

{% for comments in comentarios %}
    <div id="sobraComentario">
        <div id="comentario" class ="panel">
            {% if comments.comment != "" %}
               <p id="load" >{{comments.user}} : {{comments.comment}}</p><span>{{comments.viewDate |date("m/d/Y h:m:s")}}</span>
            {% endif %}

        </div>
    </div>
{% endfor %}
   
{% endblock %}
