{# src/InstantMovie/BackendBundle/Resources/views/Default/historial.html.twig #}
{% extends '::frontend.html.twig' %}

{% block title%} Selecionar Modo {% endblock %}
{% block id 'historial' %}

    {% block contenido %}


<ul class="nav nav-tabs nav-perfil">

  <li ><a class="historialLink historialColor" href="{{path('usuario_perfil')}}">Datos del Perfil</a></li>
  <li class="active"><a href="{{path('pagina_historial', {'user_id': app.user.id})}}">Historial</a></li>

</ul>

<div class="row div-historial">
  <div id="historialNavbar" class="col-sm-3 ">
    <div class="sidebar-nav">
      <div class="navbar navbar-default botonesHistorial" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse  ">
         
            <a class="btn btn-lg btn-historial" role="button" href="{{path('historial_peliculas',{'user_id': app.user.id})}}">Peliculas Vistas</a>
            <a class="btn btn-lg btn active btn-historial" role="button" href="{{path('pagina_historial',{'user_id': app.user.id})}}">Comentarios / Puntuaciones <span class="glyphicon glyphicon-eye-open"</span></a>
            <a  class="btn btn-lg btn btn-historial" role="button" href="{{path('historial_upload',{'user_id': app.user.id})}}">Peliculas Subidas</a>

        
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>
  <div class="col-sm-9">
    <div id="cabeceraTitulo" class="panel">
    <h1 class="historialTitulo">Gestion de Historial</h1>
    <h3 class="historialTitulo">Bienvenido a la seccion de gestion de tu historial de visualizaciones, aqui podras consultar y gestionarlos contenidos vistos.</h3>

    <br>
    {% for infoHistorial in historial %}
        <ul>
            {% if infoHistorial.comment != "" %}
        <li id="historialPanel" class="panel">{{infoHistorial.movie}} : {{infoHistorial.comment}} &nbsp &nbsp &nbsp {{infoHistorial.viewDate |date("m/d/Y")}}</li>
            {% endif %}
            {% if infoHistorial.valoration != "" %}
        <li id="historialPanel" class="panel historialPanel">Has puntuado a {{infoHistorial.movie}} con {{infoHistorial.valoration}}/10 &nbsp &nbsp &nbsp {{infoHistorial.viewDate |date("m/d/Y")}}</li>
            {% endif %}
        </ul>
    {% endfor %}
  </div>
  </div>
</div> 
    {% endblock %}
